.brainblocks {
  & .item {
    padding: 15px;

    & .content {
      background: #fff;
      padding: 15px;
      padding-bottom: 5px;
      border-radius: 7px;
      border: 1px solid #ccc;
      & h3 {
        margin-bottom: 10px;
      }
      & p {
        line-height: 24px;
      }
      & .action {
        margin-top: 5px;
        opacity: 0;
        transition: 0.4s;
        & i {
          font-size: 20px;
        }
      }
    }
    &:hover .content .action {
      transition: 0.4s;
      opacity: 1;
    }
  }
}
