<div class="top_bar" id="top_bar">
  <div class="content">
    <button
      matTooltip="Colapsar Menu"
      [matTooltipPosition]="'right'"
      class="toggle_menu"
      mat-icon-button
      (click)="toggleMenu()"
    >
      <i class="mdi mdi-keyboard-backspace"></i>
    </button>

    <div class="user_infos">
      <div class="image">
        <img src="{{dataUser.photoURL}}" width="40" height="40" alt="User" />
      </div>
      <div class="name">
        {{ dataUser.name }}
        <!-- <i class="mdi mdi-chevron-down"></i> -->
      </div>
    </div>
  </div>
</div>
