<div style="background-color:#fff">  
    <section class="hero">
        <div class="content">
  
           <h2>be</h2>
           <h1>Productive.</h1>
           <div class="content_button">

        <app-login></app-login>
           
        </div>
           <!-- Display login status -->
           <div id="status"></div>
  
        </div>
     </section>
  
     <section class="intro">
        <div class="container">
           <div class="col">
              <h3>Uma plataforma para organizar <span>seus trampos</span></h3>
  
              <div class="content_button" style="justify-content:flex-start">
                <div class="start_now">Começe em 1 clique</div>
                <div class="social_login">
                    <button class="facebook">
                        <i class="mdi mdi-facebook-box"></i>
                    </button>
                
                    <button class="google">
                        <i class="mdi mdi-google"></i>
                    </button>
                
                    <button class="github">
                        <i class="mdi mdi-github-circle"></i>
                    </button>
                </div>

                  
              </div>
           </div>
  
           <div class="col mockup">
              <img src="assets/img/note.png" alt="">
           </div>
        </div>
     </section>
  
     <section class="cards">
        <div class="container">
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-account-multiple"></i>
              </div>
              <h3>Gerencie seus clientes</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
  
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-trello"></i>
              </div>
              <h3>Gerencie suas tarefas</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
  
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-calendar-clock"></i>
              </div>
              <h3>Gerencie seus eventos</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
        </div>
  
        <div class="container">
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-buffer"></i>
              </div>
              <h3>Anote suas ideias</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
  
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-file-document"></i>
              </div>
              <h3>Modelos de contratos</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
  
           <div class="card">
              <div class="icon">
                 <i class="mdi mdi-buffer"></i>
              </div>
              <h3>Gerencie suas tarefas</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
        </div>
  </section>
  
  <section class="workspace">
     <div class="container">
        <div class="col">
           <img src="assets/img/note.png" alt="">
        </div>
  
        <div class="col right">
           <h2>Seu workspace mais <span>clean</span> e <span>efetivo</span></h2>
           <div class="content_button" style="justify-content:flex-start">
              <button href="javascript:void(0);" onclick="fbLogin()" id="fbLink">
                 começe agora
              </button>
           </div>
        </div>
     </div>
  </section>
  
  
  <section class="call">
     <div class="container">
        <h2>Os primeiros 15 dias são<span> grátis</span>, se valer a pena, invista apenas <span> R$15,00/mês  :)</span></h2>
     </div>
  </section>
  </div>