.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
}

.loading hr {
  margin: 0;
  background: linear-gradient(270deg, #b00000, #8c0808);
  animation: progress 2s ease;
  height: 0.2em;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.stopped {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

$light-background-3: #eef0f3;
$light-background-5: #c7ccd1;
$light-foreground-primary: #b00000;
$dark-background-3: #445058;
$dark-background-5: #2d373c;
$dark-foreground-primary: #c7ccd1;

.light-theme,
.dark-theme {
  padding: 16px;
}

.spinner {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1s linear infinite;
}
.light-theme .spinner {
  border: 4px solid $light-background-5;
  border-top: 4px solid $light-foreground-primary;
}

.progress {
  height: 4px;
  width: 33%;
}
.light-theme .progress {
  background-color: $light-background-5;
}

.light-theme .progress-fill {
  background-color: $light-foreground-primary;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
