<section class="page_content">
  <div class="head_content">
    <h2 class="title">Cadastrar Cliente</h2>
    <button class="return_btn" [routerLink]="['/dashboard/clientes']">
      Voltar
    </button>
  </div>

  <div class="card">
    <div class="body">
      <form [formGroup]="formCliente" (ngSubmit)="insertCliente()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Nome Cliente"
                name="name"
                formControlName="nome"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                type="text"
                placeholder="Telefone"
                name="telefone"
                formControlName="telefone"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <input
                type="text"
                required
                placeholder="Email"
                name="email"
                formControlName="email"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <button class="btn">Cadastrar</button>
      </form>
    </div>
  </div>
</section>
