<section class="page_content">
  <div class="head_content">
    <h1 class="title">Board - Geral</h1>
    <button class="return_btn" [routerLink]="['/dashboard/tasks']">
      Voltar
    </button>
  </div>
  <div class="status">
    <div class="stat afazer">
      <h5>A Fazer</h5>
      <p>{{ qtdNotStarted }}</p>
    </div>
    <div class="stat fazendo">
      <h5>Fazendo</h5>
      <p>{{ qtdProgress }}</p>
    </div>
    <div class="stat concluido">
      <h5>Concluídos</h5>
      <p>{{ qtdCompleted }}</p>
    </div>
  </div>

  <div class="head_content">
    <h1 class="title">Por usuário</h1>
  </div>

  <div class="members">
    <div class="member" *ngFor="let member of members">
      <div class="name">
        <div class="curl">
          {{ member.initials }}
        </div>
        <div class="full">
          {{ member.fullName }}
        </div>
      </div>
      <div class="status">
        <div class="stat afazer" (click)="showCards(member, 'qtdNotStarted')">
          <h5>A Fazer</h5>
          <p>{{ member.qtdNotStarted }}</p>
        </div>
        <div class="stat fazendo" (click)="showCards(member, 'qtdProgress')">
          <h5>Fazendo</h5>
          <p>{{ member.qtdProgress }}</p>
        </div>
        <div class="stat concluido" (click)="showCards(member, 'qtdCompleted')">
          <h5>Concluídos</h5>
          <p>{{ member.qtdCompleted }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
