.status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.status .stat {
  max-width: 100px;
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat.afazer p {
  border: 2px solid red;
  color: red;
}
.stat.fazendo p {
  border: 2px solid blue;
  color: blue;
}
.stat.concluido p {
  border: 2px solid green;
  color: green;
}
.status .stat p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 35px;
  border-radius: 100px;
  font-weight: bold;
}
.members {
  & .member {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;

    & .name {
      flex: 1;
      display: flex;
      align-items: center;

      & .curl {
        display: flex;
        margin-right: 10px;
        width: 40px;
        height: 40px;
        background: #666ec5;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
}
