<section class="page_content dashboard">
  <div class="head_content"><h1 class="title">Visão geral</h1></div>

  <div class="container_boxs">
    <div [routerLink]="['/dashboard/clientes']" class="info_box back_purple">
      <div class="icon"><i class="mdi mdi-account-multiple"></i></div>
      <div class="text">
        <h3>Meus Clientes</h3>
        <span>{{ countClientes }}</span>
      </div>
    </div>
    <div [routerLink]="['/dashboard/tasks']" class="info_box back_blue">
      <div class="icon"><i class="mdi mdi-trello"></i></div>
      <div class="text">
        <h3>Minhas Tasks</h3>
        <span>{{ countTasks }}</span>
      </div>
    </div>
    <div [routerLink]="['/dashboard/eventos']" class="info_box back_green">
      <div class="icon"><i class="mdi mdi-calendar-clock"></i></div>
      <div class="text">
        <h3>Meus Eventos</h3>
        <span>{{ countEventos }}</span>
      </div>
    </div>
    <div [routerLink]="['/dashboard/brainblocks']" class="info_box back_yellow">
      <div class="icon"><i class="mdi mdi-buffer"></i></div>
      <div class="text">
        <h3>Minhas anotações</h3>
        <span>{{ countBlocks }}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="head_content"><h1 class="title">Tasks Rápidas</h1></div>
      <app-cadastrar-task></app-cadastrar-task>
      <app-listar-tasks></app-listar-tasks>
    </div>

    <div class="col-md-8">
      <div class="head_content"><h1 class="title">Minha Agenda</h1></div>
      <app-listar-eventos></app-listar-eventos>
    </div>
  </div>

  <div class="row">
    <app-card title="dsdada" icon="user"> dsadasdsa </app-card>
  </div>
</section>
