<section class="page_content">
  <div class="head_content"><h1 class="title">Meus Clientes</h1></div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-9 col-sm-12">
        <div class="menu_agenda">
          <div class="btn-group">
            <button
              mat-raised-button
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
            >
              Mês Anterior
            </button>
            <button
              mat-raised-button
              class="btn"
              mwlCalendarToday
              [(viewDate)]="viewDate"
            >
              Hoje
            </button>
            <button
              mat-raised-button
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false"
            >
              Próximo Mês
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 calendar">
        <h3 class="text-center">
          {{ viewDate | calendarDate: view + 'ViewTitle':'pt' }}
        </h3>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view
            *ngSwitchCase="CalendarView.Month"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            [locale]="locale"
            (dayClicked)="dayClicked($event.day)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
            *ngSwitchCase="CalendarView.Week"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
            *ngSwitchCase="CalendarView.Day"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)"
          >
          </mwl-calendar-day-view>
        </div>

        <div class="row" *ngIf="activeDayIsOpen">
          <div class="day_infos">
            <div
              class="event_info"
              *ngFor="let event of eventsInfo"
              (click)="showAgendaDia(event)"
            >
              <span
                class="dot"
                [ngStyle]="{ 'background-color': event.color.primary }"
              ></span>
              <div class="event_title">{{ event.title }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-3 col-sm-12 infosEvento" *ngIf="showAgenda">
        <div class="container">
          <h2>{{ modalData.title }}</h2>
          <p>{{ modalData.dataFormatada }}</p>
          <div class="municipios_list"></div>
        </div>
      </div>
    </div>
  </div>
</section>
